[core]
host=lechuck.hackint.org
port=6667
ssl=True
verify_ssl=False

enable=reload,c3schedule_irc

logging_level=DEBUG

auth_method=nickserv
auth_username=c3scheduletest
auth_password=NopeNopeNopeNope

nick=c3schedulefoo
owner=andi-
owner_account=andi-
pid_dir=.
homedir=.
extra=modules/

channels=#scheduletest

prefix=\.
